h1
  a(href="/") Members Only - Private Club
div(class="register")
  if user
    ul 
      li Welcome #{user.first_name}
      li
        if user.member_status === "vip"
          h5.vip-status **VIP**
        else 
          a(href="/status")
            button(type="submit") GET VIP STATUS 
      li
        form(method="POST" action="/logout")
          button(type="submit") Log out
  else 
    ul 
      li 
        a(href="/login") Log In
      li
        a(href="/register") Sign Up
