doctype html 
html(lang="en")
  head 
    title=title 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body 
    div(class="main-container")
      div(class="header")
        div(class="Title")
          h1 Members Only - Private Club
            div(class="register")
              if user
                ul 
                  li Welcome #{user.username} 
                  li 
                    a(href="/logout") Log out
              else 
                ul 
                  li 
                    a(href="/login") Log In
                  li
                    a(href="/register") Sign Up
      div(class="content")
        block content