extends layout 

block content 
  h1 Log In 

  form(method="POST")
    div.login-form  
      div.login-input
        label(for="email") Email: 
        input#email(type="email", placeholder="Enter your email", name="email" required)
      div.login-input 
        label(for="current-password") Password: 
        input#current-password(type="password", placeholder="Password", name="password", required)
      button.btn-submit(type="submit") Sign In