extends layout 

block content 
  h1 Sign up 

  form(method="POST" action="/register")
    div.login-form 
      div.login-input  
        label(for="first_name") First Name: 
        input#first_name(type="text", name="first_name", placeholder="First name", required)
      div.login-input 
        label(for="last_name") Last Name: 
        input#last_name(type="text", name="last_name", placeholder="Last name", required)
      div.login-input 
        label(for="username") Email: 
        input#username(type="text", name="username", placeholder="Email", required)
      div.login-input 
        label(for="password") Password: 
        input#password(type="password", name="password", required) 
      button.btn-submit(type="submit") Sign Up

  if errors 
    ul 
      for err in errors 
        li=err.msg
