.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid #808080;
}

.register li {
  display: inline-block;
  padding: 0 0.75rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.login-form {
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 1rem;
}

.login-input > input {
  width: 100%;
  margin-top: 0.5rem;
}
